<div class="tab-container live-games-container">
  <ng-container *ngFor="let game of sortGames(games)">
    <div class="game-card" [class]="getGameState(game)">
      <div class="top-row">
        <ng-container [ngSwitch]="getGameState(game)">
          <ng-container *ngSwitchCase="'in-game'">
            <div>
              <img class="game-icon" src="./../../../assets/football-light.svg" alt="football">
            </div>
            <p class="game-status">In game</p>
          </ng-container>
          <ng-container *ngSwitchCase="'ended'">
            <div>
              <img class="game-icon" src="./../../../assets/time-stop-light.svg" alt="">
            </div>
            <p class="game-status">Ended</p>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <div>
              <img class="game-icon" src="./../../../assets/time-start-light.svg" alt="">
            </div>
            <p class="game-status">About to start</p>
          </ng-container>
        </ng-container>
      </div>
      <div class="middle-row">
        <div class="left-section">
          <span>{{game.homeTeam}}</span>
        </div>
        <div class="middle-section">
          <span [class.large-score]="game.homeTeamScore > 9 || game.awayTeamScore > 9">
            {{game.homeTeamScore}} : {{game.awayTeamScore}}
          </span>
        </div>
        <div class="right-section">
          <span>{{game.awayTeam}}</span>
        </div>
      </div>
      <div class="bottom-row">
        <div class="bottom-upper">
          <div class="left-section">
            <span>Home</span>
          </div>
          <div class="middle-section"></div>
          <div class="right-section">
            <span>Away</span>
          </div>
        </div>
        <div class="bottom-lower">
          <ng-container [ngSwitch]="getGameState(game)">
            <span *ngSwitchCase="'in-game'" class="time-container" [class]="getGameState(game)">{{game.startTime | timeDiff: currentDate.toString()}}</span>
            <span *ngSwitchCase="'ended'" class="time-container" [class]="getGameState(game)">{{game.startTime | timeDiff: game.endTime}}</span>
            <span *ngSwitchDefault class="time-container" [class]="getGameState(game)">00</span>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>