.live-games-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.game-card {
  width: 291px;
  height: 229px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: white;
}

.in-game {
  background-color: #558C3FE6;
}

.ended {
  background-color: #4A0650E6;
}

.about-to-start {
  background-color: #5930ACE6;
}

.top-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
}

.game-icon {
  margin-top: 14px;
  margin-bottom: 2px;
  height: 30px;
  width: 30px;
}

.game-status {
  margin: 0;
  font-style: italic;
  font-size: 16px;
  line-height: 21px;
}

.middle-row {
  display: flex;
  flex: 1 1 0;
  
  .left-section {
    width: 33%;
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 37px;

    span {
      margin-left: 25px;
    }
  }

  .middle-section {
    width: 34%;
    display: flex;
    align-items: center;

    span {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 42px;
      line-height: 56px;
      white-space: nowrap;
    }

    span.large-score {
      font-size: 31px;
      line-height: 42px;
    }
  }

  .right-section {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 28px;
    line-height: 37px;

    span {
      margin-right: 25px;
    }
  }
}

.bottom-row {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;

  .bottom-upper {
    display: flex;

    .left-section {
      display: flex;
      width: 33%;
      
      span {
        margin-left: 25px;
        margin-top: -20px;
        font-size: 16px;
        line-height: 21px;
        font-style: italic;
      }
    }
  
    .middle-section {
      width: 34%;
    }
  
    .right-section {
      display: flex;
      justify-content: flex-end;
      width: 33%;

      span {
        margin-right: 25px;
        margin-top: -20px;
        font-size: 16px;
        line-height: 21px;
        font-style: italic;
      }
    }
  }

  .bottom-lower {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;

    .time-container {
      width: 35px;
      height: 35px;
      padding: 6px 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      line-height: 37px;
      border-radius: 40px;
    }

    .in-game {
      border: 2px solid #49AE82;
      background-color: #4A7A5F;
    }

    .ended {
      border: 2px solid #A549AE;
      background-color: #A26CA7;
    }

    .about-to-start {
      border: 2px solid #A549AE;
      background-color: #A26CA7;
    }
  }
}
